.button{
    size: 6px;
    height: 56px;
    display:block;
    float: right;
    padding: 10px ;
    padding-right: 20px;
   
}
ion-toolbar {
    --color: #ffffff;
    --background: #0d2c6c;
}
ion-content {
    --background:rgb(252, 252, 252);
}

